.About {
  border: 5px solid var(--debug-yellow);
}

.placeholderVideo {
  width: 100%;
  height: 250px;
  background-color: black;
}

.textArea {
  border: 1px solid var(--debug-yellow);
  padding: 1rem;
}

.mainText {
  border: 1px solid var(--debug-yellow);
}
