.home {
  font-family: "Montserrat", sans-serif;

  /* border: 5px solid var(--debug-green); */
  display: flex;
  flex-direction: column;

  /* background-image: url(./bgHome.jpeg);
  
  background-position: center;
  background-size: cover; */

  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.pages {
  /* border: 5px solid var(--teste); */
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* gap: 1rem; */
  /* width: 300%; */
}

.weatherContainer {
  /* border: 2px solid var(--debug-pink); */
  display: grid;
  place-content: center;
  padding: 1rem;
}

.clockContainer {
  /* border: 2px solid var(--debug-pink); */
  display: grid;
  place-content: center;
  padding: 1rem;
}

.notificationContainer {
  /* border: 2px solid var(--debug-red); */
  padding: 1rem;
}

.fixed {
  /* border: 5px solid yellow; */
  height: 20%;
  display: flex;
  flex-direction: column;
}

.fixedApps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  /* gap: 1rem; */
  background-color: #4a1fc04d;
  border-radius: 0.5rem;
}

/* --------------------- icones app component deprecated -------------- */
.appIcon .icon {
  color: var(--app-icon);
  height: 60%;
}
.appIcon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-icon-app);
  border-radius: 0.4rem;
  filter: drop-shadow(0px 4px 0px var(--sd-icon-app));
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


.appWrapper {
  /* border: 2px solid var(--debug-red); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.appWrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.appWrapper.disabled{
  opacity: 60%;
}


.appIcon:hover {
  transform: translateY(4px);
  filter: none;
}


.appTitle {
  color: var(--app-title);
}



/* --------------------- Telas Menores -------------- */
@media (max-height:760px) {
  .App{
    /* background-color: var(--debug-red); */
  }
  .appTitle{
    display: none;
  }
}

@media (max-height:900px) {
  .App{
    /* background-color: var(--debug-green); */
  }

  .appIcon {
    width: 60px;
    height: 60px;
    background-color: var(--bg-icon-app);
    border-radius: 0.4rem;
    filter: drop-shadow(0px 4px 0px var(--sd-icon-app));
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}