.Cellphone {
  padding: 0;
  background-color: transparent;
  border-radius: 0;

  animation: vibrate 0.3s 3;
  position: relative;
  /* infinite */
}

.cameraArea {
  display: none;
}

.leftButton {
  height: 100px;
  width: 10px;
  background-color: black;
  position: absolute;
  left: -5px;
  top: 20%;
  border-radius: 1rem;

  border: 1px solid var(--debug-red);
}

@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-os);
  display: flex;
  flex-direction: column;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: .2s ease;

  position: relative;
}

.topPart {
  padding: 0.5rem 1rem;
  /* position: absolute;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid var(--debug-red);
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.application {
  /* width: 100%; */
  /* padding: 1rem; */

  /* Retirei para deixar cada app mais próprio */
  /* display: grid;
  place-content: center;
  position: relative; */

  height: 100%;
  animation: openApplication 0.1s forwards; /* Garante animação de abrir aplicação */

  color: var(--main-text); /* Garante animação de abrir aplicação */

  /* padding-top: 2rem;
  padding-bottom: 3rem; */
}

@keyframes openApplication {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

.actionBtns {
  height: 3rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: 2px solid var(--debug-red);

  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.homeBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: 600px) {
  .Cellphone {
    padding: 0.8rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
  }

  .App {
    width: 393px;
    height: 852px;
    border-radius: 1.8rem;
  }

  .cameraArea {
    display: block;
    height: 30px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;

    border: 1px solid var(--debug-red);
  }
}
