@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Cellphone {
  padding: 0;
  background-color: transparent;
  border-radius: 0;

  /* animation: vibrate 0.3s 3; */
  position: relative;
  /* infinite */
}

.Cellphone.shake{
  animation: vibrate 0.3s 3;
}

.cameraArea {
  display: none;
}

.leftButton {
  display: none;
}

@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-os);
  display: flex;
  flex-direction: column;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: .2s ease;

  position: relative;
}

.topPart{
  display: none;
}

.application {
  /* width: 100%; */
  /* padding: 1rem; */

  /* Retirei para deixar cada app mais próprio */
  /* display: grid;
  place-content: center;
  position: relative; */

  height: 100%;
  animation: openApplication 0.1s forwards; /* Garante animação de abrir aplicação */

  color: var(--main-text); /* Garante animação de abrir aplicação */

  /* padding-top: 2rem;
  padding-bottom: 3rem; */
}

@keyframes openApplication {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

.actionBtns {
  height: 3rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* border: 2px solid var(--debug-red); */

  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.homeBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: .2s ease;
}

.homeBtn:hover{
  filter: drop-shadow(0px 0px 7px white);
}

.initialPage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 100000;
}

.logoInitialPage{
  color: white;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoInitialPage img{
  /* border: 2px solid white; */
  width: 50%;
}

.logoInitialPage p{
  font-family: "Montserrat", sans-serif;
  letter-spacing: .1rem;
}

.logoInitialPage p strong{
  font-size: 1.3rem;
}

/* CONTINUA COM  MENOS DE 600PX DE LARGURA E MENOS DE 900PX DE ALTURA --- FULL SCREEN MOBILE PEQUENO sem titulos icones menores*/

@media (max-width: 600px) and (max-height: 900px) {
  .App {
    /* background-color: gray; */
    width: 100vw;
    height: 100vh;
  }

  .topPart{
    display: none;
  }
}


/* MAIS DE 600PX DE LARGURA E MENOS DE 900PX DE ALTURA --- MOSTRA CELULAR PEQUENO sem titulos icones menores*/
@media (min-width: 600px) and (max-height: 900px) {
  

  .Cellphone {
    background-color: rgb(0, 0, 0);
    border-radius: 3.3rem;
    padding: .8rem;
    border: 0.25rem solid #c5c5c5;
  }

  .App {
    width: 350px;
    height: 700px;
    border-radius: 2.8rem;

    
    /* width: 250px;
    height: 500px;  MINHA TV 1080p*/
  }

  .cameraArea {
    display: block;
    height: 30px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;

    /* border: 1px solid var(--debug-red); */
    z-index: 1000;
  }

  .leftButton {
    display: block;
    height: 100px;
    width: 10px;
    background-color: black;
    position: absolute;
    left: -5px;
    top: 20%;
    border-radius: 1rem;
  
    /* border: 1px solid var(--debug-red); */
  }

  .topPart {
    padding:1rem;
    /* position: absolute;
    width: 100%; */
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* border: 2px solid var(--debug-red); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    z-index: 100;
    color: var(--main-text);
  }
}


/* MAIS DE 600 PX LARGURA e MAIS DE 900 PX DE ALTURA  ---- MOSTRA CEULAR GRANDE com titulo icones grandes*/

@media (min-width: 600px) and (min-height:900px) {
  .Cellphone {
    padding: 0.8rem;
    background-color: rgb(0, 0, 0);
    border-radius: 3.3rem;
    border: 0.25rem solid #c5c5c5;
    overflow: hidden;

  }

  .App {
    width: 393px;
    height: 852px;
    border-radius: 2.8rem;

  }

  .cameraArea {
    display: block;
    height: 30px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;

    /* border: 1px solid var(--debug-red); */
    z-index: 1000;
  }

  .leftButton {
    display: block;
    height: 100px;
    width: 10px;
    background-color: #c5c5c5;
    position: absolute;
    left: -10px;
    top: 20%;
    border-radius: 1rem;
  
    /* border: 1px solid var(--debug-red); */
  }

  .topPart {
    padding: 1rem;
    /* position: absolute;
    width: 100%; */
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* border: 2px solid var(--debug-red); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    z-index: 100;
    color: var(--main-text);
  }
}
